@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-image: url(../assets/pexels-¶project-atlas-1674049.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
    color: antiquewhite;
    text-align: center;
}